
.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: lightcyan;
}
.top2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.main2{
    display: flex;
}
.day{
    padding-right: 80px;
}
.item{
    padding: 20px;
}
input{
    margin-right: 20px;
    margin-left: 20px;
}
.btn{
    color: blue;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: lightcyan;
}